#title {
  text-align: center;
  font-size: 350%;
}

#de {
  text-align: center;
  font-size: 250%;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

#d {
  font-size: 90%;
}

.photo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#a {
  font-size: 90%;
  float: left;
  margin-left: 200px;
}

#c {
  font-size: 90%;
  float: right;
  margin-right: 120px;
}

#area {
  font-size: 300%;
  position: fixed;
  top: 275px;
  left: 200px;
}

#cir {
  font-size: 300%;
  position: fixed;
  top: 275px;
  right: 200px;
}
